include mixins

h1#title.accent1 About
mixin menu('/about')

p
  | Hi, my name is Thomas. I work at a company called
  | <a href="http://www.marlon.be">Marlon</a>, which
  | explains the Godfather theme on the shortened URLs
  | this website creates. 
  
p 
  | This site was created in my spare time using
  | the following technologies. 
  
p Just for fun, no purpose, lots of hipster-fu
  ul
    li 
      a(href='http://nodejs.org') node.js
    li 
      a(href='http://expressjs.com/') express
    li 
      a(href='http://coffeescript.org/') coffeescript
    li 
      a(href='http://mongoosejs.com/') mongoosejs

p You can find the code on github

p Thanks go to these sites for their awesome hosting.
  ul
    li
      a(href='http://nodester.com') nodester
    li
      a(href='https://mongolab.com/') mongolab
