h1#title Welcome,

p 
  | Yes, we're a really basic url shortening service, 
  | and we provide no guarantees your links
  | will still work when you return two months from now.
  | But at least <strong>we</strong> had some fun along 
  | the way while we were making this thing.

p
  | Oh, and you can see statistics on your links, that's
  | already better than Twitter, no?

p
  | So give it a whirl!

if (typeof error !== 'undefined')
  span(class='error')= error

form(method='post', action='/')
  fieldset
     input(type='text', name='url', placeholder='shorten a URL of your choice')
     div
       input(type='submit', value='Create', class='btn')

a(href="http://github.com/you")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="Fork me on GitHub")
