h1#title Welcome

p 
  | Yes, we're a really basic url shortening service, 
  | and we provide no guarantees your links
  | will still work when you return two months from now.
  | But at least <strong>we</strong> had some fun along 
  | the way while we were making this thing.

p
  | Oh, and you can see statistics on your links, that's
  | already better than Twitter, no?

p
  | So give it a whirl!

if (typeof error !== 'undefined')
  span(class='error')= error

form(method='post', action='/')
  fieldset
     input(type='text', name='url', placeholder='shorten a URL of your choice')
     div
       input(type='submit', value='Create', class='btn')
