h1= title

if (typeof error !== 'undefined')
  span(class='error')= error

form(method='post', action='/')
  fieldset
     input(type='text', name='url')
     input(type='submit', value='Create')
