!!!
html
  head
    title #{title} | shrtnr
    link(rel='stylesheet', href='/stylesheets/mystyle.css')
  body
    div#content!= body

    a(href="https://github.com/you")
     img(style="position: absolute; top: 0; right: 0; border: 0;",
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
         alt="Fork me on GitHub")

